<html>
    <head>Login</head>
    <body style="background-color: aquamarine;">
        <h1>Login Page</h1>
        <form name="Login">
            <label for="username">Username</label><br>
            <input tpye="text" placeholder="Enter your username" name="username"><br>
            <label for="password">Password</label><br>
            <input tpye="password" placeholder="Enter your password" name="password"><br>
            <input type="button" value="Login"/><br>
            <p>Register here! <a href="register">Click me!</a></p>
        </form>
    
    </body>
</html>